.page-liste-party {
    height: 100%;
}

.button {
    border: none;
    background-color: #6a0080;
    border-radius: 1024px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
    display: inline-block;
    width: 90%;
    align-content: center;
}

.button:visited{
    color: white;
    text-decoration: none;
}

ul{
    color: #6a0080;
}

hr {
    color: #6a0080;
}

ul .aListe {
    text-decoration: none;
    color: #6a0080;
    font-size: 20px;
    display: inline-block;
}

ul .aListe:visited {
    text-decoration: none;
    color: #6a0080;
    font-size: 20px;
    display: inline-block;
}

h1 {
    text-align: center;
    color: #6a0080;
    font-size: 24px;
}

h2, h3, h4, h5, h6{
    color: #6a0080;
    font-size: 24px;
}

p{
    color: #6a0080;
    font-size: 18px;
}

input{
    border: 2px solid;
    border-radius: 5px;
    border-color: #6a0080;
    font-size: 18px;
    color: #6a0080;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 95%;
    margin: 2.5%;
    text-indent: 8px;
}

input:focus {
    outline: none;
    border: 1px solid;
    border-color: #9c27b0;
}

textarea {
    border: 2px solid;
    border-radius: 5px;
    border-color: #6a0080;
    font-size: 18px;
    color: #6a0080;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 95%;
    margin: 2.5%;
    text-indent: 8px;
}

textarea:focus {
    outline: none;
    border: 1px solid;
    border-color: #9c27b0;
}